* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
    color: #4f585e;
    
}
footer{
    height: auto;
    background-color: #f4f7fb;
}
#footer_con1{
    max-width: 1366px;
    margin: auto;
    padding: 40px 15px 0px;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    
}
#footer_con2{
    /* border: 1px solid blue; */
    max-width: 1366px;
    margin: auto;
    padding: 0px 15px 0px;
    height: auto;
    display: flex;
    justify-content: space-between;
}
#paypart{
    /* border: 1px solid red; */
    width: 60%;
    margin-right: 20px;
}
#copyright{
    /* border: 1px solid red; */
    width: 40%;
    text-align: end;
}
#paypart>h4{
    margin-top: 0;
}
#paypart>div>span{
    max-height: 30px;
    width: 50px;
    height: 30px;
    margin-right: 15px
}
#paypart>div>span>img{
    width: 50px;
    height: 30px;
}
#copyright>p{
    /* border: 1px solid red; */
    margin-top: 50px;
}
#column_con{
    /* border: 1px solid red; */
    width: 80%;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}
#column_con>div{
    /* border:1px solid blue; */
    width:30%;
    height: auto;
}
#column_con>div>div{
    /* border: 1px solid red; */
    margin-bottom: 30px;
}
#column_con>div>div>h4{
    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px;
}
#column_con>div>div>a{
    margin: 0px 0px 15px;
    font-weight: lighter;
    color: #4f585e;
    display: block;
    text-decoration: none;
}
#follow_con{
    /* border:1px solid blue; */
    width: 20%;
}
#follow_con>div{
    /* border: 1px solid red; */
    width:250px;
    height: auto;
}
#follow_con>div>h4{
    /* border:1px solid red; */

    font-weight: 700;
    letter-spacing: 0;
    margin: 0px 0px 15px 0px;
}
#follow_con>div>div{
    /* border:1px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#follow_con>div>div>a{
    color: #10847e;
    width: 40px;
    height: 40px;
}
.icons{
    color: #10847e;
}
h3,span,a,h1,h2,p,div{
    color: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    outline: none;
    vertical-align: baseline;
    -webkit-tap-highlight-color: transparent;
}
.referal{
    margin: 60px 15px;
}
.rlinks{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    -webkit-box-align: center;
    align-items: center;
}
.rlinks>h3{
    font-size: 12px;
    font-weight: 700;
    display: inline-block;
    margin-right: 5px;
}
.rlinks>span{
    
    font-size: 12px;
    line-height: 1.5;
}
.rlinks>span>a{
    text-decoration: none;
}
.rlinks>span>a:hover{
    color: #10847e;
}
.rlinks>span:after {
    content: "|";
    color: #4f585e;
    margin: 0 5px;
}
.rlinks>span:last-child:after {
    content: "";
    color: #4f585e;
    margin: 0 5px;
}
.rpt{
    font-weight: 700;
    font-size: 14px;
    margin-top: 25px;
    margin-bottom: 10px;
}
.rpst{
    font-size: 12px;
    margin: 10px 0;
    font-weight: 700;
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.rpp{
    font-size: 12px;
    margin-bottom: 5px;
    display: inline-block;
}
.rpp>a{
    color: #10847e;
}
.rpp>a:hover{
    color: #4f585e;
    text-decoration: none;
}
.appbanner{
    background-color: #f2f5f5 ;
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
.appbanner>div:first-child{
    width: 60%;
    height: auto;
    /* border: 1px solid blue; */
}
.appbanner>div:first-child>div{
    font-size: 26px;
    margin: 60px 10px;
    font-size: 24px;
    font-weight: 700;
    color: #4f585e;
    padding-bottom: 15px;
    line-height: 1.8;
}
.appbanner>div:first-child>h2{
    margin: 60px 10px;
    font-size: 24px;
    font-weight: 700;
    color: #4f585e;
    padding-bottom: 15px;
    line-height: 1.8;
}
.appbanner>div:first-child>div:last-child{
    display: flex;
    
}
.appbanner>div:first-child>div:last-child>img{
    width: 163px;
    height: 50px;
}
.appbanner>div:last-child{
    width: 40%;
    height: auto;
    border: 1px solid blue;
}
.appbanner>div:last-child>img{
    width: 100%;
    height: 100%;
}